body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: top;
    border-top: 4px solid #000000;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    content: "";
}

.btn {
    display: inline-block;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    color: #000;
    text-align: center;
    /*text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);*/
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #cccccc;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-bottom-color: #b3b3b3;
    border-radius: 4px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);

    -moz-user-select: none;
}

.btn::selection {color:#000;background:transparent}

.btn:hover, .btn:focus {
    color: #000;
    background-color: #e6e6e6;
    text-decoration: none;
    background-position: 0 -15px;
    transition: background-position 0.1s linear;
}


.btn:active {
    color: #000;
    background-color: #e6e6e6;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    padding: 5px 12px 3px;
}

.btn-container {
    display: inline-block;
}

.dropdown__opened, .dropdown__opened:hover, .dropdown__opened:focus {
    padding: 5px 12px 3px;
    color: #000;
    background-color: #e6e6e6;
    text-decoration: none;
    background-position: 0 -15px;
    transition: background-position 0.1s linear;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.dropdown .caret {
    margin-top: 8px;
    margin-left: 0;
}

.dropdown-list {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}


.dropdown-list .dropdown-item{
    padding: 4px 16px;
}

.dropdown-list .dropdown-item:hover{
    background-color: #DBE9FB;
    color: #333;

    cursor: default;
}

.dropdown-item.dropdown-item__active{
}

.dropdown-item.dropdown-item__active, .dropdown-item.dropdown-item__active:hover{
    background-color: #3a87ad;
    color: #fff;
}
